*{
    color: #afd1d4;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.whyReact{
    line-height: 2;
}

.coreFeatures{
    line-height: 2;
}

.relatedResources{
    line-height: 2;
}

.reactVsJs{
    line-height: 2;
}